:host {
  display: inline-block;
  position: relative;
  padding: 1rem;
  border: 2px solid var(--gbox-gray-dark);
  border-radius: 1rem;
  min-width: 7rem;
}

:host * {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.gui {
  display: grid;
  grid-template-columns: 1em 1fr 1em;
  grid-template-rows: 1fr auto;
  grid-gap: 0.667em 0;
  position: relative;
}

.btn {
  cursor: pointer;
}

.icon svg {
  max-width: 100%;
  max-height: 100%;
  fill: var(--gbox-fg);
}

/**
 * play ctl btn
 */
.btn--play-ctl {
  grid-column-start: 2;
  padding: 60% 0; /* 6:5 */
  margin-bottom: 0.6667em;
  position: relative;
}

.btn--play-ctl .icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.667em 0.667em;

  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.wrapper.playing .btn--play-ctl .icon--pause,
.wrapper.paused .btn--play-ctl .icon--play,
.wrapper.loading .btn--play-ctl .icon--loading,
.wrapper.error .btn--play-ctl:after {
  opacity: 1;
}

.wrapper.error .btn--play-ctl:after {
  content: "Error loading audio";
  display: block;
  font-size: small;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.icon--loading > div {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-top: 100%; /* aspect ratio 1:1 */
}

.icon--loading > div > div {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0.6667rem solid var(--gbox-fg);
  border-color: var(--gbox-fg) transparent var(--gbox-fg) transparent;
  -webkit-animation: ring-spinner 1.5s linear infinite;
  animation: ring-spinner 1.5s linear infinite;
}

/**
 * vol ctl btn & slider
 */
.btn--volume-ctl {
  position: relative;
  --volume: 80%;
}

.icon--volume {
  position: absolute;
  right: -0.5em;
  bottom: -0.5em;
  left: -0.5em;
  height: 2em;
  padding: 0.5em;
}

.icon--volume svg {
  position: absolute;
  bottom: 0.5em;
  width: 1em;
}

.btn--volume-ctl .slider {
  display: block;
  position: absolute;
  top: -0.33em;
  right: -0.33em;
  bottom: -0.5em;
  left: -0.33em;
  border-radius: 0.5em;
  overflow: hidden;
}

.btn--volume-ctl .slider:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(110%);
  transition: transform 100ms ease-in-out;
  background: var(--gbox-bg3);
  border-radius: 0.5em;
}

.btn--volume-ctl .slider:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 2.5em;
  height: var(--volume);
  transform: translateY(110%);
  transition: transform 100ms ease-in-out, height 10ms ease-in-out;
  background: linear-gradient(var(--gbox-yellow-light), var(--gbox-yellow-dark));
  border-radius: 0.5em;
}

.btn--volume-ctl.visible .slider:before,
.btn--volume-ctl.visible .slider:after {
  transform: translateY(0);
}

.track-name {
  grid-column: 1 / 3;
  white-space: nowrap;

  /* center only if slightly overflowing */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.loading-progress-indicator {
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}

/* canvas */
canvas {
  display: block;
  position: absolute;
  /* NTS - host border */
  top: -2px;
  left: -2px;
  border-radius: 1rem;
  z-index: -1;
  transition: opacity 1500ms ease-in-out;
  opacity: 0;
}

.wrapper.playing canvas.visible {
  transition: opacity 500ms ease-in-out;
  opacity: 1;
}

@media only screen and (max-width: 40rem) {
  .btn--play-ctl .icon {
    padding: 0.667em;
  }
}

@media only screen and (max-width: 35rem) {
  :host {
    font-size: small;
  }
}

@-webkit-keyframes ring-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ring-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
